<div class="row">
  <div class="col-12">
      <% if @tweet.is_retweet? %>
          @<%= @tweet.user.username %>
          <%= link_to 'Retweet...', @tweet.tweet_ref %>
      
      <% end %>
      
    <%= image_tag (@tweet.user.photo_url), class: "img-thumbnail rounded-circle avatar " %>
      @<%= @tweet.user.username %>

      <%= @tweet.content %>
      <hr/>
      <%= @tweet.likes.count %> 
      <%= link_to ('<i class=" '+@tweet.like_icon(current_user)+'"></i>').html_safe, tweet_likes_path(@tweet), method: :post  %>
      
      | <%= @tweet.count_rt%>
      <% if @tweet.count_rt > 0 %>
          <%= link_to '<i class=" fas fa-retweet text-primary"></i>'.html_safe, tweet_retweet_path(@tweet), method: :post %> 
      <% else %>
          <%= link_to '<i class=" fas fa-retweet text-secondary"></i>'.html_safe, tweet_retweet_path(@tweet), method: :post %> 
      <% end %>
      
  </div>
</div>
<div class="mt-2">
<% @tweet.liking_users.each do |user| %>
  <%= image_tag (user.photo_url), class: "img-thumbnail rounded-circle avatar"%>
<% end %>

</div>