<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to '<i class="fas fa-home fa-lg mr-2"></i>'.html_safe+' Inicio', root_path, class:"nav-link text-reset"%>
  </li>
  <% if user_signed_in? %>
    <li class="nav-item">
      <%= link_to '<i class="fas fa-user-circle fa-lg mr-2"></i>'.html_safe+' Mi perfil', edit_user_registration_path, class: "nav-link text-reset"%>
    </li>
    
    <li class="nav-item">
      <%= link_to '<i class="fas fa-power-off fa-lg mr-2"></i>'.html_safe+' Cerrar Sesion', destroy_user_session_path, method: :delete, class:"nav-link text-reset"%>
    </li>
    <% else %>
    <li class="nav-item">
      <%= link_to '<i class="fas fa-sign-in-alt fa-lg mr-2"></i>'.html_safe+' Log in', new_user_session_path, class:"nav-link text-reset"%>
    </li>
    <li class="nav-item">
      <%= link_to 'Registro', new_user_registration_path, class:"nav-link text-reset"%>
    </li>
  <% end %>
</ul>
