<div class="col-12 row">
    <% if tweet.is_retweet? %>
        <div class="col-sm-12 pl-5 text-muted">
            <i class=" fas fa-retweet"></i>
            <%= tweet.user.username %>
            <%= link_to 'retwitteó', tweet.tweet_ref, class: "text-reset" %>
        </div>
    <% end %>
    <div class="col-sm-1 avatar-box">
        <% if tweet.is_retweet? %>
            <%= image_tag (tweet.tweet_ref.user.photo_url), class: "img-thumbnail rounded-circle avatar " %>
        <% else %>
             <%= image_tag (tweet.user.photo_url), class: "img-thumbnail rounded-circle avatar " %>
        <% end %>

        <% if user_signed_in? && current_user != tweet.user %>
            <%= link_to (current_user.is_following?(tweet.user) ? '<i class="fas fa-users-slash"></i>' : '<i class="fas fa-user-plus"></i>').html_safe, users_follow_path(tweet.user.id), method: :post, 'title' => (current_user.is_following?(tweet.user) ? "siguiendo" : "Seguir" ) %>
        <% end %>
       
    </div>

    <div class="col-sm-11">
        <% if tweet.is_retweet? %>
            @<%= tweet.tweet_ref.user.username %>
            <%= link_to distance_of_time_in_words(Time.now, tweet.tweet_ref.created_at), tweet.tweet_ref %>
            <br>
            <%= tweet.content %>
             <br>
            <div class="row mt-2">
                <div class="col-sm-6">
                    <%= link_to ('<i class="mr-2 '+tweet.tweet_ref.like_icon(current_user)+'"></i>').html_safe, tweet_likes_path(tweet.tweet_ref), method: :post %>
                    <%= tweet.tweet_ref.likes.count%> 
                </div>
                <div class="col-sm-6">
                    <%= link_to ('<i class="mr-2 fas fa-retweet '+tweet.tweet_ref.retweet_icon+'"></i>').html_safe, tweet_retweet_path(tweet.tweet_ref), method: :post %>
                    <%= tweet.tweet_ref.count_rt%>
                </div>
            </div>
        <% else %>
            @<%= tweet.user.username %>
            <%= link_to distance_of_time_in_words(Time.now, tweet.created_at), tweet %>
            <br>
            <%= tweet.content %>
            <div class="row mt-2">
                <div class="col-sm-6">
                    <%= link_to ('<i class="mr-2 '+tweet.like_icon(current_user)+'"></i>').html_safe, tweet_likes_path(tweet), method: :post %>
                    <%= tweet.likes.count%> 
                </div>
                <div class="col-sm-6">
                    <%= link_to ('<i class="mr-2 fas fa-retweet '+tweet.retweet_icon+'"></i>').html_safe, tweet_retweet_path(tweet), method: :post %>
                    <%= tweet.count_rt%>
                </div>
            </div>
        
        <% end %>
        <br>
    </div>
    <hr class="col-sm-12" />
</div>