<h1>Home#index</h1>

<%# <%= render 'tweets/form', tweet: @tweet %> %>


<div class="row">
    <% @tweets.each do |tweet| %>
        <div class="col-12">
            <%= image_tag (tweet.user.photo_url), class: "avatar " %>
            <%= tweet.content %>
            <hr/>
            <%= tweet.likes.count %> like
        </div>
    <% end %>

    <%= paginate @tweets %>
</div>